#### Este notebook aborda as etapas de Business Understanding e Data Understanding. As análises exploratórias e a engenharia de atributos e modelagem serão detalhadas nos notebooks subsequentes

# 1 SETUP

In [10]:
# Notebook Config 
import sys
import os
proj_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(proj_root)

# Data Analysis
import pandas as pd
import numpy as np

# DataViz 
import matplotlib.pyplot as plt
import seaborn as sns

# Statistical
from scipy.stats import chi2_contingency

# My Functions
from src.utils import df_summary_with_fraud, low_importance_numerical

# 2 BUSINESS UNDERSTANDING
***

O crescimento do comércio eletrônico e dos meios de pagamento digitais trouxe consigo uma expansão significativa nas tentativas de fraude em transações financeiras. Para instituições financeiras e empresas de meios de pagamento, a prevenção à fraude é um desafio central, pois envolve não apenas a proteção do patrimônio da instituição, mas também a confiança do cliente.

Um sistema de detecção de fraude precisa equilibrar dois objetivos conflitantes:

1. Reduzir perdas financeiras provenientes de transações fraudulentas;

2. Minimizar falsos positivos, ou seja, evitar que transações legítimas sejam erroneamente classificadas como suspeitas, o que compromete a experiência do cliente e pode gerar perda de receita.

No contexto deste trabalho, utiliza-se uma base de dados real disponibilizada pela competição IEEE-CIS Fraud Detection (Kaggle), que contém transações de e-commerce com informações de clientes, dispositivos, endereços e características da compra. O conjunto reflete a complexidade do problema enfrentado por instituições financeiras, com dados de alta dimensionalidade, presença de valores faltantes, variáveis anônimas e forte desbalanceamento da variável alvo (fraude).

O objetivo é desenvolver e avaliar técnicas de detecção de anomalias aplicadas à prevenção de fraudes, explorando abordagens que permitam identificar padrões irregulares no comportamento das transações. Essa análise é relevante para a área de negócios porque permite:

 - Antecipar tentativas de fraude com base em sinais sutis capturados pelas variáveis;

 - Reduzir perdas financeiras diretas associadas a transações fraudulentas aprovadas;

 - Preservar a experiência do cliente, reduzindo casos de bloqueio indevido;

 - Gerar insights para a política de segurança corporativa, apoiando decisões estratégicas sobre limites de risco e investimentos em inteligência antifraude.

Assim, o estudo conecta diretamente a aplicação de técnicas de ciência de dados com os objetivos estratégicos de uma instituição financeira: maximizar a segurança, preservar a confiança do cliente e aumentar a eficiência operacional dos sistemas antifraude.

# 3 DATA UNDERSTANDING
***

O dataset utilizado neste trabalho foi disponibilizado pela competição **IEEE-CIS Fraud Detection** (Kaggle), em parceria com a Vesta Corporation. Trata-se de uma base de dados real de transações de e-commerce, voltada especificamente para o desenvolvimento de modelos de **detecção de fraude em pagamentos digitais**.  

A base é composta por dois arquivos principais:  

- **`train_transaction.csv`** – Contém informações detalhadas sobre cada transação financeira, incluindo valores monetários, métodos de pagamento, variáveis derivadas de comportamento e características do comprador. É neste dataframe que se encontra a variável-alvo **`isFraud`**, indicando se a transação foi identificada como fraude (`1`) ou legítima (`0`).  
- **`train_identity.csv`** – Contém informações adicionais sobre identidade e dispositivo dos usuários em um subconjunto de transações. Inclui dados sobre endereços IP, navegadores, sistemas operacionais e características técnicas que podem auxiliar na identificação de comportamentos anômalos.  

Esses dois dataframes são conectados pela chave **`TransactionID`**, que funciona como identificador único de cada transação. Nem todas as transações possuem informações na tabela de identidade, refletindo um cenário real em que os dados disponíveis sobre o cliente variam conforme o contexto da compra.  

---

## Estrutura do dataset  

- **`train_transaction.csv`**: ~590 mil transações, com **394 variáveis**.  
- **`train_identity.csv`**: ~144 mil registros, com **41 variáveis**.  

---

## Dicionário resumido das principais variáveis  

| Variável         | Origem         | Tipo      | Descrição                                                                 |
|------------------|---------------|----------|---------------------------------------------------------------------------|
| `TransactionID`  | Transação     | Inteiro  | Identificador único da transação (chave primária).                        |
| `isFraud`        | Transação     | Binária  | Variável-alvo: indica se a transação foi fraude (`1`) ou legítima (`0`).  |
| `TransactionDT`  | Transação     | Inteiro  | Tempo da transação em relação a um ponto de referência (não é timestamp real). |
| `TransactionAmt` | Transação     | Numérica | Valor monetário da transação.                                             |
| `ProductCD`      | Transação     | Categórica | Categoria do produto/serviço adquirido.                                  |
| `card1`–`card6`  | Transação     | Numérica/Categórica | Atributos derivados de cartões de pagamento (parcialmente anonimizados). |
| `addr1`, `addr2` | Transação     | Numérica | Endereços vinculados ao comprador.                                        |
| `P_emaildomain`  | Transação     | Categórica | Domínio do e-mail do Pagador.                                          |
| `R_emaildomain`  | Transação     | Categórica | Domínio do e-mail do recebedor.                                          |
| `M1`–`M9`        | Transação     | Categórica (binária) | Flags de comportamento associadas às transações.                        |
| `DeviceType`     | Identidade    | Categórica | Tipo de dispositivo utilizado (ex.: desktop, mobile).                    |
| `DeviceInfo`     | Identidade    | Categórica | Informações adicionais sobre o dispositivo.                              |
| `id_12`–`id_38`  | Identidade    | Diversos | Variáveis de identidade anonimizadas (ex.: métodos de autenticação, sistema). |
| `V1`–`V339`      | Transação     | Numérica | Variáveis derivadas e anonimizadas, representam combinações internas de atributos originais. |

---

In [40]:
df_trans = pd.read_csv('../data/raw/train_transaction.csv')
df_id = pd.read_csv('../data/raw/train_identity.csv')

In [ ]:
# Prévia conteúdo Dataset transações

display(df_trans.head(10))

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2987005,0,86510,49.0,W,5937,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2987006,0,86522,159.0,W,12308,360.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2987007,0,86529,422.5,W,12695,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987008,0,86535,15.0,H,2803,100.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2987009,0,86536,117.0,W,17399,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Prévia conteúdo Dataset identidade

display(df_id.head(10))

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
5,2987017,-5.0,61141.0,3.0,0.0,3.0,0.0,NaN,NaN,3.0,...,chrome 62.0,24.0,1366x768,match_status:2,T,F,T,T,desktop,Windows
6,2987022,-15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2987038,0.0,31964.0,0.0,0.0,0.0,-10.0,NaN,NaN,0.0,...,chrome 62.0,32.0,1920x1080,match_status:2,T,F,T,T,mobile,NaN
8,2987040,-10.0,116098.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
9,2987048,-5.0,257037.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows

In [19]:
# Tamanho dos datasets 

print(f'Transactions: {df_trans.shape}')
print(f'Identity: {df_id.shape}')

Transactions: (590540, 394)
Identity: (144233, 41)

In [41]:
# Informações gerais dataset transações

print(df_trans.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Data columns (total 394 columns):
 #    Column          Dtype
---   ------          -----
 0    TransactionID   int64
 1    isFraud         int64
 2    TransactionDT   int64
 3    TransactionAmt  float64
 4    ProductCD       object
 5    card1           int64
 6    card2           float64
 7    card3           float64
 8    card4           object
 9    card5           float64
 10   card6           object
 11   addr1           float64
 12   addr2           float64
 13   dist1           float64
 14   dist2           float64
 15   P_emaildomain   object
 16   R_emaildomain   object
 17   C1              float64
 18   C2              float64
 19   C3              float64
 20   C4              float64
 21   C5              float64
 22   C6              float64
 23   C7              float64
 24   C8              float64
 25   C9              float64
 26   C10             float64
 27   C11             float64
 28   C12             float64
 29   C13             float64
 30   C14             float64
 31   D1              float64
 32   D2              float64
 33   D3              float64
 34   D4              float64
 35   D5              float64
 36   D6              float64
 37   D7              float64
 38   D8              float64
 39   D9              float64
 40   D10             float64
 41   D11             float64
 42   D12             float64
 43   D13             float64
 44   D14             float64
 45   D15             float64
 46   M1              object
 47   M2              object
 48   M3              object
 49   M4              object
 50   M5              object
 51   M6              object
 52   M7              object
 53   M8              object
 54   M9              object
 55   V1              float64
 56   V2              float64
 57   V3              float64
 58   V4              float64
 59   V5              float64
 60   V6              float64
 61   V7              float64
 62   V8              float64
 63   V9              float64
 64   V10             float64
 65   V11             float64
 66   V12             float64
 67   V13             float64
 68   V14             float64
 69   V15             float64
 70   V16             float64
 71   V17             float64
 72   V18             float64
 73   V19             float64
 74   V20             float64
 75   V21             float64
 76   V22             float64
 77   V23             float64
 78   V24             float64
 79   V25             float64
 80   V26             float64
 81   V27             float64
 82   V28             float64
 83   V29             float64
 84   V30             float64
 85   V31             float64
 86   V32             float64
 87   V33             float64
 88   V34             float64
 89   V35             float64
 90   V36             float64
 91   V37             float64
 92   V38             float64
 93   V39             float64
 94   V40             float64
 95   V41             float64
 96   V42             float64
 97   V43             float64
 98   V44             float64
 99   V45             float64
 100  V46             float64
 101  V47             float64
 102  V48             float64
 103  V49             float64
 104  V50             float64
 105  V51             float64
 106  V52             float64
 107  V53             float64
 108  V54             float64
 109  V55             float64
 110  V56             float64
 111  V57             float64
 112  V58             float64
 113  V59             float64
 114  V60             float64
 115  V61             float64
 116  V62             float64
 117  V63             float64
 118  V64             float64
 119  V65             float64
 120  V66             float64
 121  V67             float64
 122  V68             float64
 123  V69             float64
 124  V70             float64
 125  V71             float64
 126  V72             float64
 127  V73             float64
 128  V74             float64
 129  V75             float64
 130  V76             float64
 131  V77             float64
 132  V78             float64
 133  V79             float64
 134  V80             float64
 135  V81             float64
 136  V82             float64
 137  V83             float64
 138  V84             float64
 139  V85             float64
 140  V86             float64
 141  V87             float64
 142  V88             float64
 143  V89             float64
 144  V90             float64
 145  V91             float64
 146  V92             float64
 147  V93             float64
 148  V94             float64
 149  V95             float64
 150  V96             float64
 151  V97             float64
 152  V98             float64
 153  V99             float64
 154  V100            float64
 155  V101            float64
 156  V102            float64
 157  V103            float64
 158  V104            float64
 159  V105            float64
 160  V106            float64
 161  V107            float64
 162  V108            float64
 163  V109            float64
 164  V110            float64
 165  V111            float64
 166  V112            float64
 167  V113            float64
 168  V114            float64
 169  V115            float64
 170  V116            float64
 171  V117            float64
 172  V118            float64
 173  V119            float64
 174  V120            float64
 175  V121            float64
 176  V122            float64
 177  V123            float64
 178  V124            float64
 179  V125            float64
 180  V126            float64
 181  V127            float64
 182  V128            float64
 183  V129            float64
 184  V130            float64
 185  V131            float64
 186  V132            float64
 187  V133            float64
 188  V134            float64
 189  V135            float64
 190  V136            float64
 191  V137            float64
 192  V138            float64
 193  V139            float64
 194  V140            float64
 195  V141            float64
 196  V142            float64
 197  V143            float64
 198  V144            float64
 199  V145            float64
 200  V146            float64
 201  V147            float64
 202  V148            float64
 203  V149            float64
 204  V150            float64
 205  V151            float64
 206  V152            float64
 207  V153            float64
 208  V154            float64
 209  V155            float64
 210  V156            float64
 211  V157            float64
 212  V158            float64
 213  V159            float64
 214  V160            float64
 215  V161            float64
 216  V162            float64
 217  V163            float64
 218  V164            float64
 219  V165            float64
 220  V166            float64
 221  V167            float64
 222  V168            float64
 223  V169            float64
 224  V170            float64
 225  V171            float64
 226  V172            float64
 227  V173            float64
 228  V174            float64
 229  V175            float64
 230  V176            float64
 231  V177            float64
 232  V178            float64
 233  V179            float64
 234  V180            float64
 235  V181            float64
 236  V182            float64
 237  V183            float64
 238  V184            float64
 239  V185            float64
 240  V186            float64
 241  V187            float64
 242  V188            float64
 243  V189            float64
 244  V190            float64
 245  V191            float64
 246  V192            float64
 247  V193            float64
 248  V194            float64
 249  V195            float64
 250  V196            float64
 251  V197            float64
 252  V198            float64
 253  V199            float64
 254  V200            float64
 255  V201            float64
 256  V202            float64
 257  V203            float64
 258  V204            float64
 259  V205            float64
 260  V206            float64
 261  V207            float64
 262  V208            float64
 263  V209            float64
 264  V210            float64
 265  V211            float64
 266  V212            float64
 267  V213            float64
 268  V214            float64
 269  V215            float64
 270  V216            float64
 271  V217            float64
 272  V218            float64
 273  V219            float64
 274  V220            float64
 275  V221            float64
 276  V222            float64
 277  V223            float64
 278  V224            float64
 279  V225            float64
 280  V226            float64
 281  V227            float64
 282  V228            float64
 283  V229            float64
 284  V230            float64
 285  V231            float64
 286  V232            float64
 287  V233            float64
 288  V234            float64
 289  V235            float64
 290  V236            float64
 291  V237            float64
 292  V238            float64
 293  V239            float64
 294  V240            float64
 295  V241            float64
 296  V242            float64
 297  V243            float64
 298  V244            float64
 299  V245            float64
 300  V246            float64
 301  V247            float64
 302  V248            float64
 303  V249            float64
 304  V250            float64
 305  V251            float64
 306  V252            float64
 307  V253            float64
 308  V254            float64
 309  V255            float64
 310  V256            float64
 311  V257            float64
 312  V258            float64
 313  V259            float64
 314  V260            float64
 315  V261            float64
 316  V262            float64
 317  V263            float64
 318  V264            float64
 319  V265            float64
 320  V266            float64
 321  V267            float64
 322  V268            float64
 323  V269            float64
 324  V270            float64
 325  V271            float64
 326  V272            float64
 327  V273            float64
 328  V274            float64
 329  V275            float64
 330  V276            float64
 331  V277            float64
 332  V278            float64
 333  V279            float64
 334  V280            float64
 335  V281            float64
 336  V282            float64
 337  V283            float64
 338  V284            float64
 339  V285            float64
 340  V286            float64
 341  V287            float64
 342  V288            float64
 343  V289            float64
 344  V290            float64
 345  V291            float64
 346  V292            float64
 347  V293            float64
 348  V294            float64
 349  V295            float64
 350  V296            float64
 351  V297            float64
 352  V298            float64
 353  V299            float64
 354  V300            float64
 355  V301            float64
 356  V302            float64
 357  V303            float64
 358  V304            float64
 359  V305            float64
 360  V306            float64
 361  V307            float64
 362  V308            float64
 363  V309            float64
 364  V310            float64
 365  V311            float64
 366  V312            float64
 367  V313            float64
 368  V314            float64
 369  V315            float64
 370  V316            float64
 371  V317            float64
 372  V318            float64
 373  V319            float64
 374  V320            float64
 375  V321            float64
 376  V322            float64
 377  V323            float64
 378  V324            float64
 379  V325            float64
 380  V326            float64
 381  V327            float64
 382  V328            float64
 383  V329            float64
 384  V330            float64
 385  V331            float64
 386  V332            float64
 387  V333            float64
 388  V334            float64
 389  V335            float64
 390  V336            float64
 391  V337            float64
 392  V338            float64
 393  V339            float64
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB
None

In [37]:
# Informações gerais dataset identidade


print(df_id.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int64
 1   id_01          144233 non-null  float64
 2   id_02          140872 non-null  float64
 3   id_03          66324 non-null   float64
 4   id_04          66324 non-null   float64
 5   id_05          136865 non-null  float64
 6   id_06          136865 non-null  float64
 7   id_07          5155 non-null    float64
 8   id_08          5155 non-null    float64
 9   id_09          74926 non-null   float64
 10  id_10          74926 non-null   float64
 11  id_11          140978 non-null  float64
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float64
 14  id_14          80044 non-null   float64
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float64
 18  id_18          45113 non-null   float64
 19  id_19          139318 non-null  float64
 20  id_20          139261 non-null  float64
 21  id_21          5159 non-null    float64
 22  id_22          5169 non-null    float64
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float64
 25  id_25          5132 non-null    float64
 26  id_26          5163 non-null    float64
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float64
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB
None

## 3.1 VARIÁVEIS DE CARTÃO
***

Nesta etapa, será avaliado o potencial das variáveis de cartão em representar o identificador do cliente (customer_id). Para isso, card1 será utilizada como proxy, possibilitando a detecção de anomalias em nível transacional de cartão.

In [ ]:
df_card = df_trans[['card1','card2','card3','card4','card5','card6','TransactionID','TransactionDT','isFraud']].sort_values(by=['card1','TransactionID'])
df_card

,card1,card2,card3,card4,card5,card6,TransactionID,TransactionDT,isFraud
243924,1000,555.0,185.0,mastercard,224.0,debit,3230924,5787419,0
36634,1001,555.0,150.0,visa,226.0,debit,3023634,916268,0
164336,1001,555.0,150.0,visa,226.0,debit,3151336,3504180,0
223739,1001,555.0,150.0,visa,226.0,debit,3210739,5270458,0
33767,1004,583.0,150.0,visa,226.0,credit,3020767,842821,0
...,...,...,...,...,...,...,...,...,...
432314,18395,543.0,150.0,mastercard,224.0,debit,3419314,10938204,0
433746,18395,543.0,150.0,mastercard,224.0,debit,3420746,10964952,0
459622,18395,543.0,150.0,mastercard,224.0,debit,3446622,11806909,0
493204,18395,543.0,150.0,mastercard,224.0,debit,3480204,12865537,0
115181,18396,111.0,150.0,visa,226.0,debit,3102181,2231501,0

Ao analisar as variáveis relacionadas ao cartão, observou-se que card1 representa o identificador único de cada cartão de crédito. Como não há uma variável explícita que identifique o cliente, card1 será utilizada como proxy de identificação, definindo a granularidade do dataframe final.

In [ ]:
# Verificar cartões que transacionaram apenas uma vez

unique_transaction = df_card.groupby('card1').size().reset_index(name='n_transacoes')
print(f'Cartões que transacionaram apenas uma vez: {len(unique_transaction[unique_transaction['n_transacoes'] == 1])}')

# Entender quantos desses cartões que transacionaram apenas uma vez e foram fraudes

unique_transaction = unique_transaction[unique_transaction['n_transacoes'] == 1]['card1'].to_list()
print(f'Cartões que transacionaram apenas uma vez e foram fraudes: {len(df_card[(df_card['card1'].isin(unique_transaction)) & (df_card['isFraud'] == 1)])}')

Cartões que transacionaram apenas uma vez: 3444
Cartões que transacionaram apenas uma vez e foram fraudes: 146

Verificou-se que 3.444 cartões (card1) realizaram apenas uma transação, representando 0,58% de todo o conjunto de dados. Dentre esses casos, 144 transações foram classificadas como fraude já no primeiro registro, correspondendo a 0,70% das fraudes totais. Essas observações isoladas representam um risco potencial de não serem detectadas como anomalias, uma vez que não possuem histórico transacional para comparação. Entretanto, considerando que esse grupo é numericamente reduzido e que futuramente podem ser desenvolvidas regras específicas para a detecção de fraudes sem histórico, a decisão de utilizar card1 como proxy de identificação do cliente e como base da granularidade do dataframe será mantida.

# RESULTADO FINAL

Após o entendimento do negócio e a análise preliminar dos dados, verificou-se que uma parcela significativa das variáveis encontrava-se anonimizada, o que comprometeria tanto a interpretação semântica quanto a análise de importância dessas variáveis para o modelo. Essa característica também dificultaria o processo de engenharia de atributos, uma vez que não seria possível compreender claramente o significado e a função de cada variável.

Diante desse cenário, definiu-se a variável `card1` como proxy para a identificação do cliente, alterando assim a granularidade do conjunto de dados para o nível transacional de cartão. A partir dessa decisão, todas as variáveis anonimizadas foram descartadas, mantendo-se apenas aquelas com descrição e interpretabilidade conhecidas. Essas variáveis serão exploradas na etapa de Análise Exploratória de Dados (EDA) e, posteriormente, utilizadas na engenharia de atributos (feature engineering) para a criação de novas variáveis com maior poder discriminatório.