# 1 SETUP
***

In [4]:
# Notebook Config 
import sys
import os
proj_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(proj_root)


# Data Analysis
import pandas as pd
import numpy as np

# My Functions
from src.data_prep import DataPreparationPipeline

In [5]:
df_trans = pd.read_csv('../data/raw/train_transaction.csv')
df_id = pd.read_csv('../data/raw/train_identity.csv')

In [6]:
pipeline = DataPreparationPipeline(df_trans,df_id)
df_final = pipeline.feature_selection().df_merge()

# 2 DATA PREPARATION
***

## 2.2 EDA
***

Exploracao para entender quais tratamentos precisam ser realizados e em quais colunas.

In [7]:
df_final.describe().T

,count,mean,std,min,25%,50%,75%,max
TransactionID,590540.0,3.282270e+06,1.704744e+05,2987000.000,3.134635e+06,3.282270e+06,3.429904e+06,3.577539e+06
isFraud,590540.0,3.499001e-02,1.837546e-01,0.000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
TransactionDT,590540.0,7.372311e+06,4.617224e+06,86400.000,3.027058e+06,7.306528e+06,1.124662e+07,1.581113e+07
TransactionAmt,590540.0,1.350272e+02,2.391625e+02,0.251,4.332100e+01,6.876900e+01,1.250000e+02,3.193739e+04
card1,590540.0,9.898735e+03,4.901170e+03,1000.000,6.019000e+03,9.678000e+03,1.418400e+04,1.839600e+04
card2,581607.0,3.625555e+02,1.577932e+02,100.000,2.140000e+02,3.610000e+02,5.120000e+02,6.000000e+02
card3,588975.0,1.531949e+02,1.133644e+01,100.000,1.500000e+02,1.500000e+02,1.500000e+02,2.310000e+02
card5,586281.0,1.992789e+02,4.124445e+01,100.000,1.660000e+02,2.260000e+02,2.260000e+02,2.370000e+02
addr1,524834.0,2.907338e+02,1.017411e+02,100.000,2.040000e+02,2.990000e+02,3.300000e+02,5.400000e+02
addr2,524834.0,8.680063e+01,2.690623e+00,10.000,8.700000e+01,8.700000e+01,8.700000e+01,1.020000e+02
dist1,238269.0,1.185022e+02,3.718720e+02,0.000,3.000000e+00,8.000000e+00,2.400000e+01,1.028600e+04
dist2,37627.0,2.318554e+02,5.290535e+02,0.000,7.000000e+00,3.700000e+01,2.060000e+02,1.162300e+04
C1,590540.0,1.409246e+01,1.335690e+02,0.000,1.000000e+00,1.000000e+00,3.000000e+00,4.685000e+03
C5,590540.0,5.571526e+00,2.578698e+01,0.000,0.000000e+00,0.000000e+00,1.000000e+00,3.490000e+02
D2,309743.0,1.695632e+02,1.773159e+02,0.000,2.600000e+01,9.700000e+01,2.760000e+02,6.400000e+02
D3,327662.0,2.834335e+01,6.238472e+01,0.000,1.000000e+00,8.000000e+00,2.700000e+01,8.190000e+02
D8,74926.0,1.460581e+02,2.316638e+02,0.000,9.583330e-01,3.787500e+01,1.879583e+02,1.707792e+03
D9,74926.0,5.610571e-01,3.168796e-01,0.000,2.083330e-01,6.666660e-01,8.333330e-01,9.583330e-01
D10,514518.0,1.239821e+02,1.826152e+02,0.000,0.000000e+00,1.500000e+01,1.970000e+02,8.760000e+02
D14,62187.0,5.772444e+01,1.363125e+02,-193.000,0.000000e+00,0.000000e+00,2.000000e+00,8.780000e+02
V4,311253.0,8.464561e-01,4.400533e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
V12,514467.0,5.597113e-01,5.105330e-01,0.000,0.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
V19,514467.0,8.163711e-01,4.255119e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
V23,514467.0,1.034791e+00,2.476806e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
V37,421571.0,1.108065e+00,6.905711e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,5.400000e+01
V44,421571.0,1.083891e+00,6.391433e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,4.800000e+01
V46,421571.0,1.022286e+00,1.667189e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
V53,513444.0,5.775859e-01,5.115705e-01,0.000,0.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
V56,513444.0,1.120979e+00,6.611285e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,5.100000e+01
V61,513444.0,8.297847e-01,4.366169e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
V66,513444.0,9.810379e-01,2.162352e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
V77,501376.0,1.086893e+00,5.329575e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+01
V86,501376.0,1.064885e+00,4.198067e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+01
V148,81945.0,7.650009e-01,5.814254e-01,0.000,0.000000e+00,1.000000e+00,1.000000e+00,2.000000e+01
V167,139631.0,3.929514e+00,4.220098e+01,0.000,0.000000e+00,0.000000e+00,0.000000e+00,8.720000e+02
V170,139819.0,1.436779e+00,1.751143e+00,0.000,1.000000e+00,1.000000e+00,1.000000e+00,4.800000e+01
V188,139819.0,1.014755e+00,6.712066e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+01
V194,139819.0,9.457727e-01,3.041579e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
V221,141416.0,1.274912e+00,2.728792e+00,0.000,1.000000e+00,1.000000e+00,1.000000e+00,3.840000e+02
V242,130430.0,1.113463e+00,6.601103e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+01
V247,130430.0,1.025355e+00,2.816044e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,1.800000e+01
V250,141416.0,7.885883e-01,4.883859e-01,0.000,1.000000e+00,1.000000e+00,1.000000e+00,1.800000e+01
id_02,140872.0,1.747166e+05,1.596518e+05,1.000,6.799200e+04,1.258005e+05,2.287490e+05,9.995950e+05
id_05,136865.0,1.615585e+00,5.249856e+00,-72.000,0.000000e+00,0.000000e+00,1.000000e+00,5.200000e+01
id_06,136865.0,-6.698710e+00,1.649110e+01,-100.000,-6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
id_13,127320.0,4.805307e+01,1.177486e+01,10.000,4.900000e+01,5.200000e+01,5.200000e+01,6.400000e+01
id_14,80044.0,-3.445071e+02,9.369550e+01,-660.000,-3.600000e+02,-3.000000e+02,-3.000000e+02,7.200000e+02
id_18,45113.0,1.423734e+01,1.561302e+00,10.000,1.300000e+01,1.500000e+01,1.500000e+01,2.900000e+01
id_19,139318.0,3.531282e+02,1.410953e+02,100.000,2.660000e+02,3.410000e+02,4.270000e+02,6.710000e+02
id_20,139261.0,4.038827e+02,1.521603e+02,100.000,2.560000e+02,4.720000e+02,5.330000e+02,6.610000e+02

In [8]:

def df_info_completo(df):
    info_df = pd.DataFrame({
        "coluna": df.columns,
        "dtype": df.dtypes.values,
        "nulos": df.isnull().sum().values,
        "% nulos": (df.isnull().sum().values / len(df) * 100).round(2)
    })
    return info_df

info_df = df_info_completo(df_final)
display(info_df.head(50))
display(info_df.tail(27))

            coluna    dtype   nulos  % nulos
0    TransactionID    int64       0     0.00
1          isFraud    int64       0     0.00
2    TransactionDT    int64       0     0.00
3   TransactionAmt  float64       0     0.00
4        ProductCD   object       0     0.00
5            card1    int64       0     0.00
6            card2  float64    8933     1.51
7            card3  float64    1565     0.27
8            card4   object    1577     0.27
9            card5  float64    4259     0.72
10           card6   object    1571     0.27
11           addr1  float64   65706    11.13
12           addr2  float64   65706    11.13
13           dist1  float64  352271    59.65
14           dist2  float64  552913    93.63
15   P_emaildomain   object   94456    15.99
16   R_emaildomain   object  453249    76.75
17              C1  float64       0     0.00
18              C5  float64       0     0.00
19              D2  float64  280797    47.55
20              D3  float64  262878    44.51
21              D8  float64  515614    87.31
22              D9  float64  515614    87.31
23             D10  float64   76022    12.87
24             D14  float64  528353    89.47
25              M1   object  271100    45.91
26              M2   object  271100    45.91
27              M3   object  271100    45.91
28              M4   object  281444    47.66
29              M5   object  350482    59.35
30              M6   object  169360    28.68
31              M7   object  346265    58.64
32              M8   object  346252    58.63
33              M9   object  346252    58.63
34              V4  float64  279287    47.29
35             V12  float64   76073    12.88
36             V19  float64   76073    12.88
37             V23  float64   76073    12.88
38             V37  float64  168969    28.61
39             V44  float64  168969    28.61
40             V46  float64  168969    28.61
41             V53  float64   77096    13.06
42             V56  float64   77096    13.06
43             V61  float64   77096    13.06
44             V66  float64   77096    13.06
45             V77  float64   89164    15.10
46             V86  float64   89164    15.10
47            V148  float64  508595    86.12
48            V167  float64  450909    76.36
49            V170  float64  450721    76.32

        coluna    dtype   nulos  % nulos
50        V188  float64  450721    76.32
51        V194  float64  450721    76.32
52        V221  float64  449124    76.05
53        V242  float64  460110    77.91
54        V247  float64  460110    77.91
55        V250  float64  449124    76.05
56       id_02  float64  449668    76.15
57       id_05  float64  453675    76.82
58       id_06  float64  453675    76.82
59       id_13  float64  463220    78.44
60       id_14  float64  510496    86.45
61       id_15   object  449555    76.13
62       id_18  float64  545427    92.36
63       id_19  float64  451222    76.41
64       id_20  float64  451279    76.42
65       id_28   object  449562    76.13
66       id_29   object  449562    76.13
67       id_30   object  512975    86.87
68       id_31   object  450258    76.25
69       id_33   object  517251    87.59
70       id_34   object  512735    86.82
71       id_35   object  449555    76.13
72       id_36   object  449555    76.13
73       id_37   object  449555    76.13
74       id_38   object  449555    76.13
75  DeviceType   object  449730    76.16
76  DeviceInfo   object  471874    79.91

Apesar de todas colunas presentes terem sido selecionadas criteriosamente, ser avaliado apenas as que no esto anonimizada.

### VARIVEIS CATEGORICAS
***
Explorao das variveis categricas.

In [14]:
cat_cols = [
    c for c in info_df[info_df['dtype'] == 'object']['coluna'].to_list()
    if not c.startswith("id")
]

cat_cols = ["isFraud"] + cat_cols

df_cat_analysis = df_final[cat_cols].copy()
df_cat_analysis = df_cat_analysis.fillna('missing')
df_cat_analysis

,isFraud,ProductCD,card4,card6,P_emaildomain,R_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9,DeviceType,DeviceInfo
0,0,W,discover,credit,missing,missing,T,T,T,M2,F,T,missing,missing,missing,missing,missing
1,0,W,mastercard,credit,gmail.com,missing,missing,missing,missing,M0,T,T,missing,missing,missing,missing,missing
2,0,W,visa,debit,outlook.com,missing,T,T,T,M0,F,F,F,F,F,missing,missing
3,0,W,mastercard,debit,yahoo.com,missing,missing,missing,missing,M0,T,F,missing,missing,missing,missing,missing
4,0,H,mastercard,credit,gmail.com,missing,missing,missing,missing,missing,missing,missing,missing,missing,missing,mobile,SAMSUNG SM-G892A Build/NRD90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,0,W,visa,debit,missing,missing,T,T,T,M0,T,F,F,F,T,missing,missing
590536,0,W,mastercard,debit,gmail.com,missing,T,F,F,M0,F,T,F,F,F,missing,missing
590537,0,W,mastercard,debit,gmail.com,missing,T,F,F,missing,missing,T,missing,missing,missing,missing,missing
590538,0,W,mastercard,debit,aol.com,missing,T,T,T,M0,F,T,missing,missing,missing,missing,missing
590539,0,W,mastercard,credit,gmail.com,missing,T,F,F,missing,missing,T,F,F,F,missing,missing

#### PRODUCTCD
***
Categoria do produto/servio adquirido.

In [12]:
pd.crosstab(df_cat_analysis['ProductCD'],df_cat_analysis['isFraud'], normalize=True) * 100

isFraud            0         1
ProductCD
C          10.246723  1.356047
H           5.325634  0.266536
R           6.142344  0.241474
S           1.852880  0.116165
W          72.933417  1.518779

In [ ]:
pd.crosstab(df_cat_analysis['ProductCD'],df_cat_analysis['isFraud'], normalize="index") * 100

isFraud            0          1
ProductCD
C          88.312731  11.687269
H          95.233769   4.766231
R          96.217406   3.782594
S          94.100447   5.899553
W          97.960061   2.039939

A varivel ProductCD apresenta diferenas claras na propenso  fraude. A categoria C apresenta a maior taxa de fraude (11,7%), enquanto W, responsvel por mais de 70% das transaes, apresenta apenas 2,1% de fraude. Isso indica que certas categorias carregam maior risco relativo, mesmo que sua frequncia absoluta seja menor. Para anlise e modelagem, a varivel ser transformada em uma feature contnua representando o risco de fraude associado a cada categoria.

#### CARD4 & CARD6
***
Atributos derivados de cartes de pagamento.

##### CARD4

In [15]:
pd.crosstab(df_cat_analysis['card4'],df_cat_analysis['isFraud'], normalize=True) * 100

isFraud                   0         1
card4
american express   1.369763  0.040471
discover           1.039218  0.087039
mastercard        30.941342  1.100010
missing            0.260101  0.006943
visa              62.890575  2.264538

In [16]:
pd.crosstab(df_cat_analysis['card4'],df_cat_analysis['isFraud'], normalize='index') * 100

isFraud                   0         1
card4
american express  97.130163  2.869837
discover          92.271839  7.728161
mastercard        96.566905  3.433095
missing           97.400127  2.599873
visa              96.524390  3.475610

A varivel card4, que indica a bandeira do carto, apresenta diferenas relevantes na propenso  fraude. A bandeira discover mostra a maior taxa de fraude (7,73%), enquanto american express e transaes sem informao (missing) apresentam taxas mais baixas (2,62,87%). Visa e Mastercard apresentam taxas intermedirias (3,4%). Esses resultados sugerem que a bandeira do carto  um indicador de risco relativo importante e, para modelagem, ser transformada em uma feature contnua representando o risco de fraude por categoria
***

##### CARD6

In [17]:
pd.crosstab(df_cat_analysis['card6'],df_cat_analysis['isFraud'], normalize=True) * 100

isFraud                  0         1
card6
charge card       0.002540  0.000000
credit           23.543875  1.684899
debit            72.690080  1.807498
debit or credit   0.005080  0.000000
missing           0.259424  0.006604

In [18]:
pd.crosstab(df_cat_analysis['card6'],df_cat_analysis['isFraud'], normalize='index') * 100

isFraud                   0         1
card6
charge card      100.000000  0.000000
credit            93.321520  6.678480
debit             97.573749  2.426251
debit or credit  100.000000  0.000000
missing           97.517505  2.482495